
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; 
}

.logo-link {
    text-decoration: none;
    color: #fff;
}

.logonav {
    width: 50px; 
    background-color:#fff ;
}



.main-nav {
    display: flex;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 0 15px; /* Ajusta el espacio entre elementos del menú */
}

.main-nav a {
    text-decoration: none;
    color: #000000; /* Color del texto del menú */
    font-weight: bold;
    font-size: 16px; 
    background-color: #fff;
}

.main-nav a:hover {
    color: #81b1ff; /* Cambia el color al pasar el ratón sobre los elementos del menú */
}

/* Estilos específicos para el botón de menú en pantallas más grandes */
.menu-toggle {
    display: none; /* Oculta el botón de menú en pantallas más grandes */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .main-nav {
        display: none;

        width: 100%;
        position: absolute;
        top: 60px; 
        background-color: #ffffff;
    }

    .main-nav.show-menu {
        display: flex;
        flex-direction: column;
    }

    .main-nav ul {
        padding: 0;
        margin: 0;
    }

    .main-nav li {
        list-style: none;
        text-align: center;
        margin: 10px 0;
        
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        background: none;
        border: none;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff; /* Color de las líneas del botón */
        margin: 5px 0;
        transition: 0.4s;
    }

    .menu-open .menu-toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .menu-toggle span:nth-child(2) {
        opacity: 0;
    }

    .menu-open .menu-toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
