.container-presentation{ 
    width: 100%;
    min-height: 20vh;
    height: 48vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 200 !important;
  
}

.title{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-style:italic;
    letter-spacing: 4px;
    color:#5283ee;;
  
}

.subtitle{
  
    display: flex;
    font-family: 'PPFormula';
    font-style:italic;
    font-size: 2rem;
    justify-content: center;
}