

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f6f4;
    

  }
  
  h2 , h1 ,h3{
    text-transform: uppercase;
    
  
  }
  
  
  ::selection {
    color: rgb(0, 0, 0);
    background-color: #C3EBFF;
  }
  
  ::-moz-selection {
     color: rgb(0, 0, 0);
     background-color:#C3EBFF;
  }
  
  @font-face {
    font-family: 'PPFormula';
    src: url('./components/fonts/PPFormula.woff') format('woff'); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
    color: rgb(0, 0, 0);
  }
  
  body {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar {
    background-color: rgb(36, 36, 36);
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #464646;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #383838;
  }
  .app{
    background-color: rgba(1, 1, 1, 0.663);
    overflow: hidden;
  }
  
  
  
  
  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }